{% extends "calendar.html" %}

{% block title %} 
calendar_year
{% endblock %}

{% block head %}
<!--Calendar Style sheet-->
<link href="/static/calendar.css" rel="stylesheet">
<!-- Calendar Js file -->
<script src="/static/js/calendar_year.js" defer></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
{% endblock %}

{% block section %}
<div id="calendaryear" class="d-flex justify-container-between calendaryear"></div>
{% endblock %}


