{% extends "helper_layout.html" %}

{% block title %}
    Password
{% endblock %}

{% block head %}
<link href="/static/password.css" rel="stylesheet">
{% endblock %}

{% block main %}
<div class="password justify-container-center">
    <form action="/password" method="POST">
        {% if update %}
        <label style="color: #FFD6A5; font-size: medium;">{{ update }}</label>
        {% endif %}        
        <div class="current_pass row">
            <label class="col-md-3">Current Password: </label>
            <input id="password" name="password" class="col-md-4" type="password" value="{{ password }}">
        </div>
        <div class="new_pass row">
            <label class="col-md-3">New Password: </label>
            <input name="new_pass" id="new_pass" class="col-md-4" type="password">
        </div>
        <div class="retype_new_pass row">
            <label class="col-md-3">Retype New Password: </label>
            <input id="retype_new_pass" name="retype_new_pass" class="col-md-4" type="password">
        </div>
        {% if error %}
        <label style="color: red; font-size: small;">{{ error }}</label>
        {% endif %}
        <div class="pass_button col-md-7">
            <button type="submit"><a href="/">Back</a></button>
            <button type="submit">Change Password</button>
        </div>
    </form>
</div>

{% endblock %}